html {
    height: 100%;
}

body {
    height: 100%;
}

.dd-widgets-gallery {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    background-color: yellow;
}

.dd-widgets-container {
    position: fixed;
    top: 0;
    left: 200px;
    bottom: 0;
    right: 0;
    background-color: yellowgreen;
}

.dd-widget-container {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 200px;
    border: 1px solid red;
}

.dd-widget-container .dd-close {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

.dd-widget-container .dd-widget-control-panel {
    position: absolute;
    bottom: 0;
}

.dd-widget-picalc .dd-widget-data,  .dd-widget-yfiquotes .dd-widget-data {
    position: absolute;
    top: 30px;
}